.contact {
    width: 100%;
    padding-top: 100px;
    background-color: #f2f2f2;
    padding: 3rem 20rem;
}

.contact-title {
    font-size: 35px;
    color: #000;
    font-family: Poppins, sans-serif;
    margin: 0px;
}

.section-description {
    margin-top: 50px;
    font-weight: 500;
}

@media screen and (max-width: 1024px) {

    .contact {
        width: 100%;
        padding: 3rem 10rem;
    }
}

@media screen and (max-width: 768px) {

    .contact {
        width: 100%;
        padding: 3rem 1.5rem;
    }

    .contact-title {
        font-size: 25px;
    }

    .btn-contact {
        width: 100%;
    }
}