.contact {
    width: 100%;
    padding-top: 100px;
    background-color: #f2f2f2;
    padding: 3rem 20rem;
}

.contact-title {
    font-size: 35px;
    color: #000;
    font-family: Poppins, sans-serif;
    margin: 0px;
}

.section-description {
    font-weight: 500;
}

.contact-form-label {
    font-weight: 700;
    margin: 10px 0px;
    color: #cacaca;
    font-family: Poppins, sans-serif;
}

.contact-form-input {
    border: 0px;
    padding: 5px 10px;
    font-size: 15px;
    color: #857c7c;
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

.contact-form-submit {
    margin-top: 20px;
    height: 44px;
    border-radius: 0px;
    font-family: Poppins, sans-serif;
}

@media screen and (max-width: 1280px) {

    .contact {
        width: 100%;
        padding: 20px 10rem;
    }
}

@media screen and (max-width: 768px) {

    .contact {
        width: 100%;
        padding: 3rem 1.5rem;
    }

    .contact-title {
        font-size: 25px;
    }

    .btn-contact {
        width: 100%;
    }
}