.landing {
    width: 100%;
    padding: 3rem 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.right {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.laptop {
    font-size: 200px
}

.landing-title {
    font-size: 50px;
    color: #2d2e32;
    font-family: Poppins, sans-serif;
    margin: 0px;
    cursor: default;
}

.section-description {
    margin: 0px 0px;
    font-weight: 500;
    cursor: default;
}

.btn-contact {
    margin-top: 20px;
    transition: 0.1s;
    background-color: #fff;
    color: #3d47f0;
    border: 1px solid #3d47f0;
    width: 250px;
    height: 44px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
}

.btn-contact:hover {
    background-color: #3d47f0;
    color: #fff;
    transition: 0.1s
}

.tech-stack-container {
    display: flex;
    list-style: none;
}

.tech-stack-item {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;
}

@media screen and (max-width: 1280px) {

    .landing {
        padding: 20px 10rem;
    }

    .right {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .landing {
        flex-direction: column-reverse;
        padding: 3rem 1.5rem;
        justify-content: center;

    }

    .landing-title {
        font-size: 35px;
    }

    .btn-contact {
        width: 100%;
    }

    .laptop {
        font-size: 100px;
    }
}